*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

WxApplication/gradle/wrapper
WxApplication/gradle.properties
WxApplication/gradlew
WxApplication/gradlew.bat
WxApplication/.idea
